
extends ../template.jade

block page

	.page

		.page-header.page-header-offset
			.page-header-limit
				h1.page-header-title
					+lorem(6)

		.page-body
			.limit.limit-2.inner.inner-2
				.single

					.single-content.content

						p: +lorem(40)
						p Ratione, <strong>obcaecati quia eligendi</strong> voluptatem perferendis amet suscipit ullam enim voluptatibus voluptas praesentium pariatur qui porro libero ipsum consectetur sapiente culpa aperiam omnis animi iusto magnam laboriosam. Ea consequuntur, alias.
						p Excepturi inventore maiores, non repellendus quidem <a href="#">necessitatibus soluta</a> doloribus, dolorum velit explicabo a nobis, fugit natus molestiae placeat minus suscipit itaque commodi ex sit, aspernatur laudantium deserunt porro. Voluptate, ea.
						p: +lorem(40)
						p: +lorem(40)


