
extends ../template.jade

block page


	.page

		.page-header
			.page-header-limit
				h1 Noticias
				p.subtitle: +lorem(20)

		.page-body


			// Section gallery

			section.section-news.section-center
				.section-limit

					.cols
						.col-md-4
							+articleBg()
						.col-md-4
							+articleBg()
						.col-md-4
							+articleBg()

						.col-md-4
							+articleBg()
						.col-md-4
							+articleBg()
						.col-md-4
							+articleBg()

						.col-md-4
							+articleBg()
						.col-md-4
							+articleBg()
						.col-md-4
							+articleBg()

						.col-md-4
							+articleBg()
						.col-md-4
							+articleBg()
						.col-md-4
							+articleBg()


